{% extends "::layout_backoffice.html.twig" %}


{% block body_content_c_d %}
	<div class="block_type formulaire">
		<div class="row block_type_content_padding">
			<h1>Vos prestations</h1>
		</div>				
	</div>
{% endblock %}