{% extends "GUIAnnoncesBundle::layout_annonce.html.twig" %}

{% block title %}
	{{ parent() }} Accueil
{% endblock %}

{% block body_content %}
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<div class="block_type">
				<div class="bandeau-wrapper small_bandeau">
					<div class="bandeau-front">Recherche par région</div>
					<div class="bandeau-edge-topleft"></div>
					<div class="bandeau-edge-topright"></div>
					<div class="bandeau-edge-bottomleft"></div>
					<div class="bandeau-edge-bottomright"></div>
					<div class="bandeau-back-left"></div>
					<div class="bandeau-back-right"></div>
				</div>
			</div>
			<div class="block_type">
				<div class="bandeau-wrapper small_bandeau">
					<div class="bandeau-front">Les meilleurs guides</div>
					<div class="bandeau-edge-topleft"></div>
					<div class="bandeau-edge-topright"></div>
					<div class="bandeau-edge-bottomleft"></div>
					<div class="bandeau-edge-bottomright"></div>
					<div class="bandeau-back-left"></div>
					<div class="bandeau-back-right"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-md-offset-1 col-lg-offset-1">
			<div class="block_type">
				<div class="bandeau-wrapper very_small_bandeau">
					<div class="bandeau-front">PUB</div>
					<div class="bandeau-edge-topleft"></div>
					<div class="bandeau-edge-topright"></div>
					<div class="bandeau-edge-bottomleft"></div>
					<div class="bandeau-edge-bottomright"></div>
					<div class="bandeau-back-left"></div>
					<div class="bandeau-back-right"></div>
				</div>
			</div>
			<div class="block_type">
				<div class="bandeau-wrapper very_small_bandeau">
					<div class="bandeau-front">PUB</div>
					<div class="bandeau-edge-topleft"></div>
					<div class="bandeau-edge-topright"></div>
					<div class="bandeau-edge-bottomleft"></div>
					<div class="bandeau-edge-bottomright"></div>
					<div class="bandeau-back-left"></div>
					<div class="bandeau-back-right"></div>
				</div>
			</div>
			<div class="block_type">
				<div class="bandeau-wrapper very_small_bandeau">
					<div class="bandeau-front">PUB</div>
					<div class="bandeau-edge-topleft"></div>
					<div class="bandeau-edge-topright"></div>
					<div class="bandeau-edge-bottomleft"></div>
					<div class="bandeau-edge-bottomright"></div>
					<div class="bandeau-back-left"></div>
					<div class="bandeau-back-right"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}