{% extends "GUIAnnoncesBundle::layout_annonce.html.twig" %}

{% block jsSupplementaire %}
{% endblock %}

{% block title %}
	{{ parent() }} Stephane JOUVE
{% endblock %}

{% block body_content %}
<div id="profil_conteneur" class="block_type">
	<div class="row" id="profil_conteneur_header">
		<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 image_profil">
			<img src="http://www.guidepechesaumon.com/wp-content/uploads/2014/12/guide-peche-charter-lac-ontario.jpg">
		</div>
		<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 coordonees">
			<h1>Stephane JOUVE</h1>			
			<button type="button" class="btn btn-default btn-lg bt_phone">
				<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
				Voir les coordonnées
			</button>
			<button type="button" class="btn btn-default btn-lg bt_lieu">
				<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
				Equihen-Plage, Nord-pas-de-Calais (<a href="">localiser</a>)
			</button>
		</div>		
	</div>
	<div class="row" id="profil_qui_je_suis">
		<div class="profil_titre col-xs-8 col-sm-8 col-md-6 col-lg-4">
			<h2>Qui je suis</h2>
		</div>
	</div>
	<div class="row profil_contenu_info">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			Horum adventum praedocti speculationibus fidis rectores militum tessera data sollemni armatos omnes celeri eduxere procursu et agiliter praeterito Calycadni fluminis ponte, cuius undarum magnitudo murorum adluit turres, in speciem locavere pugnandi. neque tamen exiluit quisquam nec permissus est congredi. formidabatur enim flagrans vesania manus et superior numero et ruitura sine respectu salutis in ferrum.
			<br>
			Mensarum enim voragines et varias voluptatum inlecebras, ne longius progrediar, praetermitto illuc transiturus quod quidam per ampla spatia urbis subversasque silices sine periculi metu properantes equos velut publicos signatis quod dicitur calceis agitant, familiarium agmina tamquam praedatorios globos post terga trahentes ne Sannione quidem, ut ait comicus, domi relicto. quos imitatae matronae complures opertis capitibus et basternis per latera civitatis cuncta discurrunt
		</div>
	</div>
	<div class="row" id="profil_prestation">
		<div class="profil_titre col-xs-8 col-sm-8 col-md-6 col-lg-4">
			<h2>Mes prestations</h2>
		</div>
	</div>
	<div class="row profil_contenu_info">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row">	
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
					<div class="row">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 prestation_logo">
							<img src="../../logo_handicap.png">
							<br>
							Accueil les personnes à mobilité réduite
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 prestation_logo">
							<img src="../../logo_balade.png">
							<br>
							Promenade
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 prestation_logo">
							<img src="../../logo_bateau.png">
							<br>
							Sortie en bateau
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 prestation_logo">
							<img src="../../logo_mouliet.png">
							<br>
							Matériel disponible
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 prestation_logo">
							<img src="../../logo_no_kill.png">
							<br>
							No-Kill
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 prestation_logo">
							<img src="../../logo_personne.png">
							<br>
							1-6 personnes
						</div>
					</div>
				</div>		
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
					Horum adventum praedocti speculationibus fidis rectores militum tessera data sollemni armatos omnes celeri eduxere procursu et agiliter praeterito Calycadni fluminis ponte, cuius undarum magnitudo murorum adluit turres, in speciem locavere pugnandi. neque tamen exiluit quisquam nec permissus est congredi. formidabatur enim flagrans vesania manus et superior numero et ruitura sine respectu salutis in ferrum.
					<br>
					<br>
					Mensarum enim voragines et varias voluptatum inlecebras, ne longius progrediar, praetermitto illuc transiturus quod quidam per ampla spatia urbis subversasque silices sine periculi metu properantes equos velut publicos signatis quod dicitur calceis agitant, familiarium agmina tamquam praedatorios globos post terga trahentes ne Sannione quidem, ut ait comicus, domi relicto. quos imitatae matronae complures opertis capitibus et basternis per latera civitatis cuncta discurrunt.
					<br>
					<br>
					Mensarum enim voragines et varias voluptatum inlecebras, ne longius progrediar, praetermitto illuc transiturus quod quidam per ampla spatia urbis subversasque silices sine periculi metu properantes equos velut publicos signatis quod dicitur calceis agitant, familiarium agmina tamquam praedatorios globos post terga trahentes ne Sannione quidem, ut ait comicus, domi relicto. quos imitatae matronae complures opertis capitibus et basternis per latera civitatis cuncta discurrunt.
				</div>
			</div>	
		</div>
	</div>
	<div class="row" id="profil_tarif">
		<div class="profil_titre col-xs-8 col-sm-8 col-md-6 col-lg-4">
			<h2>Tarifs</h2>
		</div>
	</div>
	<div class="row profil_contenu_info">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<b>Prix minimal pour une 1/2 journée :</b> 30€
			<br>
			<b>Prix minimal pour une 1 journée :</b> 60€
			<br>
			<span id="reduction">Réduction possible en fonction du nombre d’inscription.</span>
		</div>
	</div>
	<div class="row" id="profil_image">
		<div class="profil_titre col-xs-8 col-sm-8 col-md-6 col-lg-4">
			<h2>Images</h2>
		</div>
	</div>
	<div class="row profil_contenu_info">
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 profil_contenu_img">
			<img src="http://verslaventure.fr/site/wp-content/gallery/balade-en-mer/img_0028.jpg">
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 profil_contenu_img">
			<img src="http://verslaventure.fr/site/wp-content/gallery/balade-en-mer/img_0028.jpg">
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 profil_contenu_img">
			<img src="http://verslaventure.fr/site/wp-content/gallery/balade-en-mer/img_0028.jpg">
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 profil_contenu_img">
			<img src="http://verslaventure.fr/site/wp-content/gallery/balade-en-mer/img_0028.jpg">
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 profil_contenu_img">
			<img src="http://verslaventure.fr/site/wp-content/gallery/balade-en-mer/img_0028.jpg">
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 profil_contenu_img">
			<img src="http://verslaventure.fr/site/wp-content/gallery/balade-en-mer/img_0028.jpg">
		</div>	
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 profil_contenu_img">
			<img src="http://verslaventure.fr/site/wp-content/gallery/balade-en-mer/img_0028.jpg">
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 profil_contenu_img">
			<img src="http://verslaventure.fr/site/wp-content/gallery/balade-en-mer/img_0028.jpg">
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 profil_contenu_img">
			<img src="http://verslaventure.fr/site/wp-content/gallery/balade-en-mer/img_0028.jpg">
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 profil_contenu_img">
			<img src="http://verslaventure.fr/site/wp-content/gallery/balade-en-mer/img_0028.jpg">
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 profil_contenu_img">
			<img src="http://verslaventure.fr/site/wp-content/gallery/balade-en-mer/img_0028.jpg">
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 profil_contenu_img">
			<img src="http://verslaventure.fr/site/wp-content/gallery/balade-en-mer/img_0028.jpg">
		</div>		
	</div>
	<div class="row" id="profil_technique">
		<div class="profil_titre col-xs-8 col-sm-8 col-md-6 col-lg-4">
			<h2>Types de pêches</h2>
		</div>
	</div>
	<div class="row profil_contenu_info">
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 profil_technique_peche">
			<img src="http://www.carnassiers.com/sommaire/techniques/Leurre-souple/brochet-leurre-souple/Montage-Hollow-belly-HD.jpg">
			<h4>Pêche au leurre</h4>
			Mensarum enim voragines et varias voluptatum inlecebras, ne longius progrediar, praetermitto illuc transiturus quod quidam per ampla spatia urbis subversasque silices sine periculi
			(<a href="">en savoir +</a>)
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 profil_technique_peche">
			<img src="http://www.allier-auvergne-tourisme.com/contenus//mediatheque/652/140313205329_peche-a-la-mouche_fnpf-laurent-madelon_.jpg">
			<h4>Pêche à la mouche</h4>
			Mensarum enim voragines et varias voluptatum inlecebras, ne longius progrediar, praetermitto illuc transiturus quod quidam per ampla spatia urbis subversasque silices sine periculi.
			(<a href="">en savoir +</a>)
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 profil_technique_peche">
			<img src="http://www.carpand.com/media//piques-peche-carpe.png">
			<h4>Pêche de la carpe</h4>
			Mensarum enim voragines et varias voluptatum inlecebras, ne longius progrediar, praetermitto illuc transiturus quod quidam per ampla spatia urbis subversasque silices sine periculi.
			(<a href="">en savoir +</a>)
		</div>		
	</div>
	<div class="row" id="profil_espece">
		<div class="profil_titre col-xs-8 col-sm-8 col-md-6 col-lg-4">
			<h2>Espèces ciblés</h2>
		</div>
	</div>
	<div class="row profil_contenu_info">
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 profil_espece_item">
			<img src="http://www.peche-saumon.com/photos-de-peche-au-saumon/peche-au-saumon-no-kill.jpg">
			<h4>Saumon</h4>
			<a href="">En savoir + sur l'espèce</a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 profil_espece_item">
			<img src="http://www.peche-manche.com/files/galeries/med_Truite%20Fario%20(2).JPG">
			<h4>Truite fario</h4>
			<a href="">En savoir + sur l'espèce</a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 profil_espece_item">
			<img src="http://files.la-peche55.webnode.fr/200000083-5f36d6030a/trout-249601_640.jpg">
			<h4>Truite arc-en-ciel</h4>
			<a href="">En savoir + sur l'espèce</a>
		</div>		
	</div>
</div>
{% endblock %}