@coul_gamme_1:#05dbf2;
@coul_gamme_2:#309ac1;
@coul_gamme_3:#03a6a6;
@coul_gamme_4:#014034;
@coul_gamme_5:#71b620;
@blanc:white;
@bleu_foncer:#2161a7;
@fond_site:#ececec;
@bandeau_padding_top:3px;
@bandeau_font_size:18px;

/* Classes abstraites */
.border_radius_all(@value)
{
	border-radius: @value @value @value @value;
	-moz-border-radius: @value @value @value @value;
	-webkit-border-radius: @value @value @value @value;
}

.clear_padding_margin()
{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

.dimention_bandeau(@taille)
{
	.bandeau-front
	{
		width:@taille;
	}
}

.couleur_bandeau(@couleur)
{
	.bandeau-front
	{
		background-color:@couleur;
	}
}

.over_bt_header
{
	background-color:@coul_gamme_1;
	color:@blanc;
} 


/* ---------------- */
/* boutton du site  */
/* ---------------- */

.bt_lieu
{
	background-color:@coul_gamme_5;
	border-color: @coul_gamme_5;
	color:@blanc;
	font-size:16px;
	a
	{
		color:black;
		text-decoration: underline;
	}
	&:hover
	{
		background-color:@coul_gamme_5;
		color:@blanc;
	}
	&:active
	{
		background-color:@coul_gamme_5;
		color:@blanc;
	}
	&:focus
	{
		background-color:@coul_gamme_5;
		color:@blanc;		
	}
	&:visited
	{
		background-color:@coul_gamme_5;
		color:@blanc;		
	}
}

.bt_plus_homepage
{
	background-color:@coul_gamme_5;
	border-color: @coul_gamme_5;
	color:@blanc;
	font-size:16px;
	&:hover
	{
		background-color:@coul_gamme_5;
		color:@blanc;
	}
	&:active
	{
		background-color:@coul_gamme_5;
		color:@blanc;
	}
	&:focus
	{
		background-color:@coul_gamme_5;
		color:@blanc;		
	}
	&:visited
	{
		background-color:@coul_gamme_5;
		color:@blanc;		
	}
}

.bt_phone
{
	background-color:@coul_gamme_2;
	border-color: @coul_gamme_2;
	color:@blanc;
	font-size:16px;
	&:hover
	{
		background-color:@coul_gamme_2;
		color:@blanc;
	}
	&:active
	{
		background-color:@coul_gamme_2;
		color:@blanc;
	}
	&:focus
	{
		background-color:@coul_gamme_2;
		color:@blanc;		
	}
	&:visited
	{
		background-color:@coul_gamme_2;
		color:@blanc;		
	}
}

/* ---------------- */
/* Element du site  */
/* ---------------- */
.row
{
	.clear_padding_margin;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
{
	padding-left:0px;
	padding-right:0px;
}

.block_type
{
	position:relative;
	min-height:100px;
	background-color:@blanc;
	border:1px solid @coul_gamme_2;
	margin-bottom:30px;
	.bandeau-wrapper {
		width:100%;
		position: absolute;
		top:15px;
		.bandeau-front {
			background-color: @coul_gamme_2;	
			height: 30px;
			width: 110px;
			position: relative;
			left:-5px;
			z-index: 2;
			color:@blanc;
			padding-top:@bandeau_padding_top;
			text-align:center;
			font-size:@bandeau_font_size;
		}
		
		.bandeau-front,
		.bandeau-back-left,
		.bandeau-back-right
		{
			-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
			-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
			-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
			-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
		}

		.bandeau-edge-topleft,
		.bandeau-edge-topright,
		.bandeau-edge-bottomleft,
		.bandeau-edge-bottomright {
			position: absolute;
			z-index: 1;
			border-style:solid;
			height:0px;
			width:0px;
		}

		.bandeau-edge-topleft,
		.bandeau-edge-topright {
		}

		.bandeau-edge-bottomleft,
		.bandeau-edge-bottomright {
			top: 30px;
		}

		.bandeau-edge-topleft,
		.bandeau-edge-bottomleft {
			left: -5px;
			border-color: transparent #4D4D4D transparent transparent;
		}

		.bandeau-edge-topleft {
			top: -7px;
			border-width: 7px 5px 0 0;
		}
		.bandeau-edge-bottomleft {
			border-width: 0 5px 0px 0;
		}

		.bandeau-edge-topright,
		.bandeau-edge-bottomright {
			left: 100px;
			border-color: transparent transparent transparent #4D4D4D;
		}

		.bandeau-edge-topright {
			top: 0px;
			border-width: 0px 0 0 5px;
		}
		.bandeau-edge-bottomright {
			border-width: 0 0 0px 5px;
		}

		.bandeau-back-left {
			position: absolute;
			top: -7px;
			left: 0px;
			width: 0px;
			height: 30px;
			z-index: 0;
		}

		.bandeau-back-right {
			position: absolute;
			top: 0px;
			right: 0px;
			width: 0px;
			height: 30px;
			z-index: 0;
		}
	}

	.full_bandeau
	{
		.dimention_bandeau(100%);
	}

	.large_bandeau
	{
		.dimention_bandeau(300px);
	}

	.small_bandeau
	{
		.dimention_bandeau(200px);
	}

	.very_small_bandeau
	{
		.dimention_bandeau(100px);
	}

	.important_bandeau
	{
		.couleur_bandeau(@coul_gamme_5)
	}

	.block_type_content_padding
	{
		width:100%;
		padding:60px 10px 20px 10px;
	}

	.block_type_content_full
	{
		width:100%;
		.clear_padding_margin;
		overflow-x:hidden;
	}

	.espacement_top
	{
		margin-top:30px;
	}
}

#francemap_conteneur
{
	margin:10px;
	#francemap
	{
		width:100%;
		height: 400px;
		svg
		{
			g 
			{
				cursor:pointer;
			}
		}
	}

	#francemap_liste
	{
		ul
		{
			list-style-type:none;
			.region_survoler
			{
				text-decoration: underline;
				a
				{
					font-weight: bold;
				}
			}
		}
	}
}



/* ------------- */
/* BODY          */
/* ------------- */
body, html
{
	background-color:@fond_site;
	min-height:100%;
}

/* ------------- */
/* HEADER - MENU */
/* ------------- */
#body_menu
{
	background-color:@coul_gamme_2;
	.navbar-nav
	{
		a
		{
			font-weight: bold;
		}
	}
}

#body_menu_d
{
	a
	{
		color:@blanc;
		&:hover
		{
			.over_bt_header;
		}
	}
}

#body_menu_g
{
	margin-right:0px;
	a
	{
		padding-left:50px;
		padding-right:50px;
		background-color:@bleu_foncer;
		color:@blanc;
		&:hover
		{
			.over_bt_header;
		}
	}
}

/* ------------- */
/* CONTENT */
/* ------------- */

#body_content
{
	min-height:800px;
	padding-top:20px;
	padding-bottom:20px;
}

.item_liste_annonce
{
	.liste_annonce_img
	{
		img
		{
			width:80%;
			max-width: 150px;
			display:block;
			margin-left:auto;
			margin-right:auto;
			.border_radius_all(10px);
			border:3px solid @bleu_foncer;
		}
	}

	.liste_annonce_info
	{
		h3
		{
			.clear_padding_margin;
			font-size:18px;
		}

		div
		{
			.clear_padding_margin;
		}

		.preview_info
		{
			font-size:16px;
		}

		.info_geo
		{

		}

		.link_preview
		{
			display: block;		
			font-size:16px;
			font-weight: bold;
			color:@coul_gamme_2;
			text-decoration: underline;
			margin-top:10px;
		}
	}
}

/* ---------------------- */
/* BLOCK TOP ANNONCE JOUR */
/* ---------------------- */
.block_top_annonce_jour
{
	.block_type_content_full
	{
		position:relative;
		.top_annonce_jour_img
		{
			width:100%;
		}
		.legende_top_jour
		{
			position:absolute;
			bottom:0px;
			left:0px;
			width:100%;
			background-image:url('../font-noir-transparent.png?i=1');
			padding-top:10px;
			padding-left:20px;
			padding-bottom:20px;
			.legende_top_jour_info
			{
				.nom
				{
					color:#939393;
					font-size:16px;
				}
				.lieu
				{
					color:@blanc;
					font-size:18px;
				}
			}
		}
	}
}

/* ------------- */
/* Annonce */
/* ------------- */
#profil_conteneur
{
	padding:20px;
	#profil_conteneur_header
	{
		margin-bottom:20px;
		.image_profil
		{
			img
			{
				width:100%;
				max-width: 200px;
				text-align:center;
				.border_radius_all(10px);
				border:3px solid @bleu_foncer;
			}
		}

		.coordonees
		{
			padding:0px 20px 0px 20px;
		}
	}

	h2
	{
		font-size: 18px;
		color: @coul_gamme_2;
	}

	.profil_titre
	{
		border-bottom: 2px solid @coul_gamme_2;
		margin-bottom:15px;
	}

	.profil_contenu_info
	{
		margin-bottom:30px;
	}

	.prestation_logo
	{
		text-align:center;
		margin-bottom:10px;
		padding:5px;

		img
		{
			width:80%;
			max-width:110px;
		}
	}

	#reduction
	{
		font-size: 16px;
		color:@coul_gamme_2;
		font-weight: bold;
	}

	.profil_contenu_img
	{
		margin-bottom:20px;
		text-align: left;

		img
		{
			width:90%;
			border:2px solid #D1D1D1;
		}			
	}

	.profil_technique_peche
	{
		padding:15px;

		img
		{
			width:100%;
		}
	}

	.profil_espece_item
	{
		padding:15px;

		img
		{
			width:100%;
		}		
	}
}

/* ------------- */
/* FOOTER */
/* ------------- */
#body_footer
{
	min-height: 300px;
	background-color:@coul_gamme_2;
}