/* Classes abstraites */
.over_bt_header {
  background-color: #05dbf2;
  color: white;
}
/* ---------------- */
/* Element du site  */
/* ---------------- */
.row {
  margin: 0px;
  padding: 0px;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-left: 0px;
  padding-right: 0px;
}
.block_type {
  position: relative;
  min-height: 100px;
  background-color: white;
  border: 1px solid #309ac1;
  margin-bottom: 30px;
}
.block_type .bandeau-wrapper {
  width: 100%;
  position: absolute;
  top: 15px;
}
.block_type .bandeau-wrapper .bandeau-front {
  background-color: #309ac1;
  height: 30px;
  width: 110px;
  position: relative;
  left: -5px;
  z-index: 2;
  color: white;
  padding-top: 3px;
  text-align: center;
  font-size: 18px;
}
.block_type .bandeau-wrapper .bandeau-front,
.block_type .bandeau-wrapper .bandeau-back-left,
.block_type .bandeau-wrapper .bandeau-back-right {
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  -khtml-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
}
.block_type .bandeau-wrapper .bandeau-edge-topleft,
.block_type .bandeau-wrapper .bandeau-edge-topright,
.block_type .bandeau-wrapper .bandeau-edge-bottomleft,
.block_type .bandeau-wrapper .bandeau-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style: solid;
  height: 0px;
  width: 0px;
}
.block_type .bandeau-wrapper .bandeau-edge-bottomleft,
.block_type .bandeau-wrapper .bandeau-edge-bottomright {
  top: 30px;
}
.block_type .bandeau-wrapper .bandeau-edge-topleft,
.block_type .bandeau-wrapper .bandeau-edge-bottomleft {
  left: -5px;
  border-color: transparent #4D4D4D transparent transparent;
}
.block_type .bandeau-wrapper .bandeau-edge-topleft {
  top: -7px;
  border-width: 7px 5px 0 0;
}
.block_type .bandeau-wrapper .bandeau-edge-bottomleft {
  border-width: 0 5px 0px 0;
}
.block_type .bandeau-wrapper .bandeau-edge-topright,
.block_type .bandeau-wrapper .bandeau-edge-bottomright {
  left: 100px;
  border-color: transparent transparent transparent #4D4D4D;
}
.block_type .bandeau-wrapper .bandeau-edge-topright {
  top: 0px;
  border-width: 0px 0 0 5px;
}
.block_type .bandeau-wrapper .bandeau-edge-bottomright {
  border-width: 0 0 0px 5px;
}
.block_type .bandeau-wrapper .bandeau-back-left {
  position: absolute;
  top: -7px;
  left: 0px;
  width: 0px;
  height: 30px;
  z-index: 0;
}
.block_type .bandeau-wrapper .bandeau-back-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 30px;
  z-index: 0;
}
.block_type .full_bandeau .bandeau-front {
  width: 100%;
}
.block_type .large_bandeau .bandeau-front {
  width: 300px;
}
.block_type .small_bandeau .bandeau-front {
  width: 200px;
}
.block_type .very_small_bandeau .bandeau-front {
  width: 100px;
}
.block_type .important_bandeau .bandeau-front {
  background-color: #71b620;
}
#francemap_conteneur {
  margin: 10px;
}
#francemap_conteneur #francemap {
  width: 100%;
  height: 400px;
}
#francemap_conteneur #francemap svg g {
  cursor: pointer;
}
#francemap_conteneur #francemap_liste ul {
  list-style-type: none;
}
#francemap_conteneur #francemap_liste ul .region_survoler {
  text-decoration: underline;
}
#francemap_conteneur #francemap_liste ul .region_survoler a {
  font-weight: bold;
}
/* ------------- */
/* BODY          */
/* ------------- */
body,
html {
  background-color: #ececec;
  min-height: 100%;
}
/* ------------- */
/* HEADER - MENU */
/* ------------- */
#body_menu {
  background-color: #309ac1;
}
#body_menu .navbar-nav a {
  font-weight: bold;
}
#body_menu_d a {
  color: white;
}
#body_menu_d a:hover {
  background-color: #05dbf2;
  color: white;
}
#body_menu_g {
  margin-right: 0px;
}
#body_menu_g a {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #2161a7;
  color: white;
}
#body_menu_g a:hover {
  background-color: #05dbf2;
  color: white;
}
/* ------------- */
/* CONTENT */
/* ------------- */
#body_content {
  min-height: 800px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* ------------- */
/* FOOTER */
/* ------------- */
#body_footer {
  min-height: 300px;
  background-color: #309ac1;
}
